[submodule "t"]
	path = t
	url = https://github.com/sjl/t
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
