window#waybar {
    opacity: 1;
    background: rgba(0,0,0,0); /* transparent */
    color: #{{foreground}};
    font-family: "Fira Code", monospace;
}
#workspaces button, #network, #clock, #mpd, #pulseaudio, #battery, #tray {
    padding: 0 0.5em 0 0.5em;
    margin: 0 0 0.5em 0.25em;
    border-radius: 1em;
    background: #{{background}};
    color: #{{foreground}};
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#workspaces button.active {
    background-color: #{{blue}};
}
#workspaces button.urgent {
    background-color: #{{light_red}};
}
#network {
    background-color: #{{blue}};
}
#clock {
    background: #{{yellow}};
    color: #{{black}};
}
#battery {
    color: #{{black}};
    background-color: #{{green}};
}
